{{ partial "index_header.html" . }}
{{if eq .RelPermalink "/post/"}}
<main id="article-listing">
    <h1 class="title">Posts</h1> 
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    {{ template "_internal/pagination.html" . }}
    {{ range $paginator.Pages }}
    <article>
	    <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <p class="article-info">
            on <strong>{{ .Date.Format "Mon, Jan 02, 2006" }}</strong> by <strong>{{ .Site.Author.name }}</strong> &middot; <strong>{{ .ReadingTime }} min reading time</strong>
        </p>
        <p class="article-summary">{{ .Summary }}</p>
        {{ if .Truncated }}<a href="{{ .Permalink }}"><p class="article-read-more"><a href="{{ .Permalink }}">Read more &rarr;</a></p>{{ end }}
    </article>
    {{ end }}
</main>
{{else if eq .RelPermalink "/page/"}}
<main id="page-listing">
    <h1 class="title">Pages</h1> 
    {{ $paginator := .Paginate (where .Site.Pages "Type" "page") }}
    {{ template "_internal/pagination.html" . }}
    {{ range $paginator.Pages }}
    <page>
	    <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </page>
    {{ end }}
</main>
{{end}}
{{ partial "footer.html" . }}
